* {
  box-sizing: border-box;
}

body {
  font-family: opensans, sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  background-color: #ff6b6b;
}


#fakeLink {
  font-family: serif;
  font-size: large;
  color: #003388;
}

input {
  border: 1px solid silver;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 50em;
}


@media screen and (max-width: 525px) {}