@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  background-color: #ff6b6b;
}


#fakeLink {
  font-family: serif;
  font-size: large;
  color: #003388;
}

input {
  border: 1px solid silver;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 50em;
}

#progress{}

main{}

/* (image, name, price range $, star rating, address, review button, like button) */
.restaurant{}

.image{}

.name{}

.price{}

.star{}

.address{}

.bottomBlock{}

.review{}

.heart{}

footer{}

/* Desktop -> Mobile*/
@media screen and (max-width: 525px) {
  body{
    
  }
}